@font-face {
  font-family: "freight big pro";
  src: url("fonts/Freight Big Pro Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "freight big pro";
  src: url("fonts/Freight Big Pro Light Italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "freight big pro";
  src: url("fonts/Freight Big Pro Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "freight big pro";
  src: url("fonts/Freight Big Pro Book Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "freight big pro";
  src: url("fonts/Freight Big Pro Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "freight big pro";
  src: url("fonts/Freight Big Pro Medium Italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "freight big pro";
  src: url("fonts/Freight Big Pro Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "freight big pro";
  src: url("fonts/Freight Big Pro Semibold Italic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "freight big pro";
  src: url("fonts/Freight Big Pro Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "freight big pro";
  src: url("fonts/Freight Big Pro Bold Italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "freight big pro";
  src: url("fonts/Freight Big Pro Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "freight big pro";
  src: url("fonts/Freight Big Pro Black Italic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "freight big pro", Georgia, serif;
}

.loader {
  height: 100vh;
  width: 100%;
  position: fixed;
  background: #000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 99;
}

.loader .yellow1 {
  height: 100%;
  width: 100%;
  position: absolute;
  background: #f5e41b;
  z-index: 8;
}

.loader .yellow2 {
  height: 100%;
  width: 100%;
  position: absolute;
  background: #f5e41b;
  z-index: 7;
}

.loader video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 6;
}

.loader h1 {
  position: relative;
  z-index: 9;
  font-size: 6.5rem;
  font-weight: 100;
  line-height: 0.9;
  letter-spacing: -2px;
}

nav {
  position: absolute;
  /* background: red; */
  width: 100%;
  z-index: 10;
  padding: 30px 50px;
}

nav svg {
  height: 16px;
}

nav svg path {
  fill: #000;
}

/* .main{
  background: #000;
} */

.page1 {
  height: 100vh;
  width: 100%;
  background: #f5e41b;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.page1 h1 {
  font-size: 6.5rem;
  font-weight: 100;
  line-height: 0.9;
  letter-spacing: -2px;
}

.page2 {
  height: 100vh;
  width: 100%;
  background: #000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.elem {
  /* background: red; */
  width: 100%;
  position: relative;
  cursor: pointer;
}

.elem h2 {
  font-size: 8rem;
  font-weight: 100;
  text-transform: uppercase;
  position: relative;
  z-index: 10;
  line-height: 0.8;
}

.elem .moving {
  width: 100%;
  white-space: nowrap;
  padding: 10px 0;
  background: #f5e41b;
  position: absolute;
  top: 50%;
  transform: translate(0, -45%) scaleY(0);
  /* overflow: hidden; */
  transition: all 0.3s ease;
}

.elem .moving .moving-in {
  white-space: nowrap;
  display: inline-block;
  animation-name: moving;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.elem .moving .moving-in h5 {
  font-size: 1.15rem;
  color: black;
  display: inline-block;
  font-family: gilroy;
  text-transform: uppercase;
  margin-right: 25px;
  opacity: 0;
  transition: all 0.5s ease;
  transition-delay: 0.18s;
}

.elem:hover .moving {
  transform: translate(0, -45%) scaleY(1);
}

.elem:hover .moving .moving-in h5{
  opacity: 1;
}

.elem:hover h2{
  color: black;
  font-style: italic;
}

@keyframes moving {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.page3 {
  height: 100vh;
  width: 100%;
  background: #fff;
}
